<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <h1>Enlaces</h1>

            <ul>
                <li><a href="{% url 'lista_productos'%}">Lista de productos</a></li>
                <li><a href="{% url 'muestra_producto' 5%}">Ver un producto</a></li>
                <li><a href="{%url 'lista_productos_fecha' 2024 10%}">Ver los productos publicados en Octubre de 2024</a></li>
                <li><a href="{% url 'lista_productos_categoria' "Talk play expert. If building a fall go. Far fall sing or."%}">Productos de una categoria</a></li>
                <li><a href="{%url 'ultimo_producto_fecha'  2024 10     %}">Último libro publicado en Octubre de 2024</a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
            </ul>


        </body>
</html>
           