<html>
    {%load static%}
    <head>
        <title>Tienda de segunda mano</title>
        {%block link_css%}
        {%endblock%}
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'estilo.css' %}">

    </head>
    <body>
        <div class="cabecera">
            <div class="logo">
            </div>
            {%include 'estructura/menu.html'%}   
        </div>
            {%block cabecera%}
            {% endblock %}

            {%block contenido%}
            {% endblock %}

            {% include 'estructura/pie.html' %}
      
    </body>

</html> 