h1{
    color: navy;
}

a{
    color: black;
}

footer{
    background-color: darkgreen;
}
.menu{
    background-color: aqua;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 2vh;
}

p{
    color: crimson;
}