<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Tienda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'login' %}">
                        Login
                    </a>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
                        Registrarse
                    </a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-warning">Log Out</button>
                    </form>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <p>
                        Nombre Usuario: {{ request.user }}
                    </p>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
