
<div class="menu">
    <nav>
        <a href="{% url 'index'%}">Inicio</a>
        <a href="{% url 'usuario_crear' %}">Crear usuario</a>
        <a href="{% url 'usuario_buscar' %}">Buscar usuario</a>
        <a href="{% url 'categoria_crear'%}">Crear categoria</a>
        <a href="{% url 'categoria_buscar'%}">Buscar categoria</a>
        <a href="{% url 'producto_crear'%}">Crear producto</a>
        <a href="{% url 'producto_buscar'%}">Buscar producto</a>
        <a href="{% url 'calzado_crear'%}">Crear calzado</a>
        <a href="{% url 'calzado_buscar'%}">Buscar calzado</a>
        <a href="{% url 'mueble_crear'%}">Crear mueble</a>
        <a href="{% url 'mueble_buscar'%}">Buscar mueble</a>
        <a href="{% url 'consola_crear'%}">Crear consola</a>
        <a href="{% url 'consola_buscar'%}">Buscar consola</a>

    </nav>
</div>