{% extends "principal.html" %}
   
   {%block cabecera%}

         <h1>Lista de Usuarios y sus Productos</h1>
    
    {% endblock %}

    {%block contenido%}

        {% for usuario in usuarios %}
          
            {%include 'usuarios/usuario.html'%}
                
                {%if usuario.producto_vendedor.all|length > 3%}

                     <p>Usuario muy activo</p>

                {% elif proyecto.colaboradores.all|length == 1 %}
                     <p>Vendedor esporádico</p>
                
                {%endif%}

            {% if usuario.producto_vendedor.all %}
                <ul>
                {% for producto in usuario.producto_vendedor.all %}
                    {%include 'usuarios/producto.html'%}
                {% endfor %}
                </ul>
            {% else %}
                <p>Este usuario no tiene productos.</p>
            {% endif %}
        {% endfor %}
    {% endblock %}
