<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <h1>Lista de productos</h1>
            {%for producto in producto_mostrar %}
            <div>

                <h2>Nombre: {{producto.nombre}}</h2>
                <h2>Vendedor: {{producto.vendedor.nombre}}</h2>
                <h2>Estado: {{producto.estado}}</h2>
                <h2>Precio: {{producto.precio}}</h2>
                <h2>Descripcion:</h2>
                <p>{{producto.descripcion}}</p>

                <h3>Fecha de publicacion: {{producto.fecha_de_publicacion}}</h3>
                <h2>Categorias</h2>
                <ol>
                    {%for categoria in producto_mostrar.categorias.all%}
                    <li>
                        <h3>{{categoria.nombre}}</h3>
                        <ul>
                            <li>{{categoria.descripcion}}</li>
                            <li>{{categoria.exitencias}}</li>
                            <li>{{categoria.destacada}}</li>
                        </ul>

                    </li>
                    {% endfor %}
                </ol>
            </div>
            {%endfor linebreaksbr%}


        </body>
</html>